		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					<h2 class="nav-title">{{ .Site.Title }}</h2>
				</a>
				{{ partial "header-menu.html" . }}
			</div>
			<center><script type="text/javascript">
	atOptions = {
		'key' : '81e5c252ab10b69f037c84adec124dc1',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.gatetodisplaycontent.com/81e5c252ab10b69f037c84adec124dc1/invoke.js"></scr' + 'ipt>');
</script></center>
		</nav>
